{% extends "bootstrap/base.html" %}
{% block title %}
Unfriended: Check who's unfriended you on Facebook!
{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
{% endblock %}
{% block content %}
    <div id="site-wrap">
        <div id="title">
            <h1>Unfriended</h1><h4>Check who's unfriended you on Facebook!</h4>
        </div>
        {% if loggedIn %}
            {% if deletedFriends %}
                <ul class="list-inline" id="deleted-friends">
                {% for friend in deletedFriends %}
                <li> 
                <div class="friend-name">{{ friend.name }}</div><img class="friend-pic" src="{{ friend.pic }}">
                </li>
                {% endfor %}
                </ul>
            {% else %}
                <h5>Facebook no longer allows us to get your friends list automatically. Please go to your friends list manually and upload a copy of the resulting HTML file here below.</h5>
                {% if error %}
                    <h4 style="color:red">{{ error }}</h4>
                {% endif %}
                <form method="post" enctype="multipart/form-data">
                    <input type="file" name="fbHTML">
                    <input type="button" value="Upload" onclick="zipHTML()">
                </form>
                <form method="post" enctype="application/zip" id="zipped">
                    <input type="hidden" name="zipHTML">
                </form>
            {% endif %}
        {% else %}
            <a href={{ url_for('facebook.login') }}>Log in here</a>
        {% endif %}
        <div id="footer">
        Generated in {{ g.request_time() }}
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='jszip.min.js') }}"></script>
    <script src="{{ url_for('static', filename='zipfriends.js') }}"></script>
{% endblock %}
